#available-job {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
}

@media only screen and (max-width: 576px) {
    #available-job {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin: 0px 10px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    #available-job {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 0px 10px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
    #available-job {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}