.img-container img {

    height: 300px;
}

.container-content p {
    text-align: justify;
}

#text-div {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(224, 224, 252);
}

#text-container {
    max-width: 25rem;
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .container-content {
        margin-top: 10px;
    }

    #button-div {
        display: flex;
        justify-content: center;
    }

    #text-container {
        max-width: 20rem;
        padding: 2px 15px;

    }

    .img-container img {
        height: 250px;
    }

    #text-container {
        max-width: 25rem;
        padding-left: 3px;
    }
}



/* Laptop/Desktop */
@media only screen and (min-width: 768px) {
    /* body {
        background-color: #d23737;
    } */
}