.img-container img {

    height: 285px;
    margin-top: 20;
}

.container-content p {
    text-align: justify;
}

#text-div {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(224, 224, 252);
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .container-content {
        margin-top: 10px;
    }

    #button-div {
        display: flex;
        justify-content: center;
    }
}



/* Laptop/Desktop */
@media only screen and (min-width: 768px) {
    /* body {
        background-color: #d23737;
    } */
}